*{
  margin: 0;
  padding: 0;
}

.App{
  margin: auto;
  width: 80%;
}

.header-container{
  background-color: #e5e5e5;
  margin: auto;
  padding: 1em 12em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0 0 6em 6em;
  box-shadow: 0 10px 10px 0 grey;
}

.header{
  display: inline-block;
}


.tasks{
  margin-top: 2em;
}